@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --control_elements_width: 20vw;
    --control_elements_font-size: 25px;
    --control_elements_padding: 20px; 
    --control_width:80vw;
    --bord_rad: 100px;
    --btn_bg_color: rgb(144, 0, 255);
    --btn_font_color:rgb(38, 1, 100);
}
  
main{ 
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
}
#canvas{
    height: 100dvh;
    border: none;
    width: 100vw;
}
.control{
    width:var(--control_width);

    display: flex;
    justify-content: space-around;
}
.control_bg{
    width:var(--control_width);
    height: 104px;
    bottom: 20px;

    display: flex;
    align-items: center;
    position:absolute;
    
    border-radius: var(--bord_rad);
    background-color: var(--btn_font_color);
}

.btn{
    width: var(--control_elements_width);
    border-radius: var(--bord_rad);
    background: var(--btn_bg_color);

    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover {
    box-shadow: 0 0 0 4px var(--btn_font_color), 
                0 0 0 8px var(--btn_bg_color);
}
.btn:active{
    transform: scale(0.92);
}
.textInBtn{
    color: var(--btn_font_color);
    font-family: "Quicksand";
    padding:var(--control_elements_padding);
    font-size: var(--control_elements_font-size);
}

.input{
    text-align: center;
    font-family: "Quicksand";
    padding:var(--control_elements_padding);
    font-size: var(--control_elements_font-size);

    width: var(--control_elements_width);
    border-radius: var(--bord_rad);
    background: var(--btn_bg_color);
    cursor: pointer;
    border: none;
}
.input::placeholder{
    color: rgba(37, 1, 100, 0.597);
    text-align: center;
}
.input:focus{
    outline: none;
    box-shadow: 0 0 0 4px var(--btn_font_color), 
                0 0 0 8px var(--btn_bg_color);
}